@use 'input-range-scss' with ($track-color: hsla(0, 2%, 90%, 0.5), $thumb-color: #AEAEAE, $thumb-height: 21px, $thumb-width: 21px, $thumb-radius: 50%, $thumb-border-color: white, $thumb-border-width: 1px, $track-border-width: 0, $track-height: 3px, $thumb-shadow-size: 0, $track-shadow-size: 0, $contrast: 5%)
@import '@csstools/normalize.css'

* > *
  box-sizing: border-box

html, body
  height: 100vh
  margin: 0
  padding: 0

p
  line-height: 1.3

#app
  height: 100vh
  display: flex
  flex-direction: column

.no-highlight
  -webkit-tap-highlight-color: transparent
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.sr-only
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0, 0, 0, 0)
  border: 0

input[type="range"]::-webkit-slider-thumb
  cursor: pointer
input[type="range"]::-moz-range-thumb
  cursor: pointer
input[type="range"]::-ms-thumb
  cursor: pointer
input[type="range"]::-webkit-slider-runnable-track
  cursor: pointer
input[type="range"]::-moz-range-track
  cursor: pointer
input[type="range"]::-ms-track
  cursor: pointer

label
  font-size: 12px
  letter-spacing: 0.6px
  font-weight: 700
  font-family: "Plus Jakarta Sans", sans-serif
  text-transform: uppercase

p:first-child
  margin-top: 0

.track-slider
  touch-action: none
  $track-color: hsla(0, 0%, 50%, 0.75)
  $thumb-color: hsla(0, 0%, 10%, 1)
  $thumb-height: 25px
  $thumb-width: 25px
  $thumb-radius: 50%
  $thumb-border-width: 1px
  $thumb-border-color: hsla(0, 0%, 75%, 1)
  $track-border-color: hsla(0, 0%, 100%, 0.25)
  $track-border-width: 0px
  $track-height: 23px
  $track-radius: 23px
  $thumb-shadow-size: 0
  $track-shadow-size: 0
  $contrast: 5%
  @import 'input-range-scss'
  [type='range']
    height: $track-height
  [type='range']::-moz-range-track
    height: $track-height !important

.track-slider-thick
  touch-action: none
  $track-color: hsla(0, 0%, 50%, 0.75)
  $thumb-color: hsla(0, 0%, 10%, 1)
  $thumb-height: 27px
  $thumb-width: 27px
  $thumb-radius: 50%
  $thumb-border-width: 1px
  $thumb-border-color: hsla(0, 0%, 75%, 1)
  $track-border-color: hsla(0, 0%, 100%, 0.25)
  $track-border-width: 0px
  $track-height: 25px
  $track-radius: 25px
  $thumb-shadow-size: 0
  $track-shadow-size: 0
  $contrast: 5%
  @import 'input-range-scss'
  // GERRRTRRRRRNGLGLKDSLKRFJLKS
  [type='range']
    height: $track-height
  [type='range']::-moz-range-track
    height: $track-height !important

.scrollbars
  overscroll-behavior-block: contain
  &::-webkit-scrollbar
    -webkit-appearance: none
    width: 7px
    height: 7px

  &::-webkit-scrollbar-track
    // box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3)
    background: transparent

  &::-webkit-scrollbar-thumb
    border-radius: 4px
    background-color: hsla(0, 0%, 70%, 0.6)

  &:hover::-webkit-scrollbar-thumb
    background-color: hsla(0, 0%, 100%, 0.8)

  &::-webkit-scrollbar-thumb:hover
    background-color: hsla(0, 0%, 100%, 0.8)

button
  outline: none

[data-help-text]
  position: relative
  --help-spacing: 3em
  &::before,
  &::after
    position: absolute
    z-index: 1000
    font-size: 11px
    font-weight: 400
    font-family: 'Plus Jakarta Sans', sans-serif
    font-size: 11px
    font-weight: 400
    color: white
    text-align: center
    transition: opacity 300ms
    touch-action: none
    pointer-events: none
    opacity: 0
  &::before
    content: ''
    bottom: 90%
    left: 50%
    transform: translateX(-50%)
    border: 1px solid hsla(0, 0%, 100%, 0.8)
    border-width: 0 1px 0 0
    height: var(--help-spacing)
    width: 0
  &::after
    content: attr(data-help-text)
    bottom: calc(90% + var(--help-spacing))
    line-height: 1.3
    left: 50%
    height: auto
    min-width: 5em
    padding: 0.5em
    background: hsla(0, 0%, 10%, 1)
    border-radius: 3px
    box-shadow: 0px 0px 1px hsla(0, 0%, 100%, 0.3)
    border: 1px solid hsla(0, 0%, 0%, 0.7)
    transform: translateX(-50%)
  &.help-below
    &::before
      top: 90%
      bottom: auto
    &::after
      top: calc(90% + var(--help-spacing))
      bottom: auto
  &.help-right
    &::before
      bottom: 50%
      left: 90%
      transform: translateY(50%)
      height: 0
      width: var(--help-spacing)
      border-width: 1px 0 0 0
    &::after
      bottom: 50%
      left: calc(90% + var(--help-spacing))
      text-align: left
      transform: translateY(50%)
  &.help-left
    &::before
      bottom: 50%
      right: 90%
      left: auto
      transform: translateY(50%)
      height: 0
      width: var(--help-spacing)
      border-width: 1px 0 0 0
    &::after
      bottom: 50%
      left: auto
      right: calc(90% + var(--help-spacing))
      text-align: right
      transform: translateY(50%)

.show-help [data-help-text]
  &::before,
  &::after
    opacity: 1