@use 'input-range-scss' with ($track-color: hsla(0, 2%, 90%, 1), $thumb-color: #AEAEAE, $thumb-height: 21px, $thumb-width: 21px, $thumb-radius: 50%, $thumb-border-color: white, $thumb-border-width: 1px, $track-border-width: 0, $track-height: 3px)

* > *
  box-sizing: border-box

html, body
  min-height: 100vh
  margin: 0
  padding: 0

#app
  min-height: 100vh
  display: flex
  flex-direction: column

.no-highlight
  -webkit-tap-highlight-color: transparent
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.sr-only
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0, 0, 0, 0)
  border: 0

input[type="range"]::-webkit-slider-thumb
  cursor: pointer
input[type="range"]::-moz-range-thumb
  cursor: pointer
input[type="range"]::-ms-thumb
  cursor: pointer
input[type="range"]::-webkit-slider-runnable-track
  cursor: pointer
input[type="range"]::-moz-range-track
  cursor: pointer
input[type="range"]::-ms-track
  cursor: pointer

label
  font-size: 12px
  letter-spacing: 0.6px
  font-weight: 700
  font-family: "Plus Jakarta Sans", sans-serif
  text-transform: uppercase